/* Error: expected ")".
 *     ,
 * 142 |         background: linear-gradient(1
 *     |                                      ^
 *     '
 *   Public\src\scss\components\_cards.scss 142:38  @import
 *   Public\src\scss\main.scss 17:9                 root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected ")".\a     \2577 \a 142 \2502          background: linear-gradient(1\d\a     \2502                                       ^\a     \2575 \a   Public\\src\\scss\\components\\_cards.scss 142:38  @import\a   Public\\src\\scss\\main.scss 17:9                 root stylesheet';
}
